<div class="col-md-4">
    <div class="card text-center">
        <div class="card-header"><b>Account Setting</b></div>
        <div class="col-md-12 justify-content-center">
            <img src="{{url_for('static', filename=current_user.avatar)}}" alt="AVATAR"  class="avatar">
           
            <label class="mt-1 mb-1">{{current_user.firstname}}</label>
            <br>
            <div style="width: 95%;float:right;"><i style="font-size: 13;">{{current_user.bio}}</i></div>
        </div>
        <div class="card-body mb-2">
            <ul class="list-group">
                <li class="list-group-item"><a href="{{ url_for('account_info') }}" class="link">Account Info</a></li>
                <li class="list-group-item  mt-2"><a href="{{ url_for('account_edit') }}" class="link">Edit Profile</a></li>
                <li class="list-group-item  mt-2"><a href="{{ url_for('change_password') }}" class="link">Change Password</a></li>
                <li class="list-group-item  mt-2"><a href="{{ url_for('upload_avatar') }}" class="link">Upload Avatar</a></li>
                <li class="list-group-item bg-secondary mt-2"><a href="{{url_for('signout')}}" class="link">Sign Out</a></li>
            </ul>
        </div>
    </div>
</div>